.container {
  margin: 0px 24px;
}

.content-wrapper {
  min-height: 600px;
  padding-bottom: 20px;
  width: 100%;
}

@media (min-width: 1265px) {
  .content-wrapper-top {
    background: url('#{$path}/tree-layer-top.png') top center repeat;
    height: 29px;
  }
  .content-wrapper {
    width: 100%;
    background: url('#{$path}/tree-layer.png') top center repeat;

  }
}

.content {
  margin: auto;
  font-size: 0.9em;
  max-width: $main-width;
}


@media (max-width: 1260px) {
  .content {
    margin-top: 57px;
  }
}

.content__buttom {
  margin-top: 30px;
  display: inline-block;
  background: none;
  border: 2px solid $color-yell;
  padding: 7px;
  font-size: 1.3em;
  color: $color-yell;
  text-transform: uppercase;
  @include border-radius(6px);
  text-decoration: none;
  font-family: $font-os-condenced-bold;
  margin-right: 15px;
  padding: 5px 10px;

}
