.delivery-wrapper {
  width: 100%;
}

.delivery {
  margin: auto;
  max-width: $main-width;
}

.delivery__header {
  @extend .header;
  color: $color-green-dark;

  .subheader {
    color: $color-green-light;
  }
}



.delivery__desc {
  line-height: 1.2;
  font-size: 1.3em;
}

.container.grid-list-xs .layout .flex .delivery__desc {
  padding: 4px;
}

.delivery__tel {
  color: $color-green-dark;
  font-family: $font-os-condenced-bold;
  font-size: 1.1em;
}

.deliverty_tabl {
  font-size: 1.3em;
}

@media (min-width: 1265px) {
  .delivery-wrapper {
    background: url('#{$path}/light-tree.png') center center repeat;
    padding-bottom: 30px;
  }
}