.detail__title h1{
  color: $color-green-dark;
  font-family: $font-os-condenced-bold;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1.8em;
}

.detail__price {
  font-size: 1.2em;
}

.detail__price--big {
  font-size: 1.5em;
  font-family: $font-os-condenced-bold;
  color: $color-green;
}

.detail-image-wrap-global {
  @include box-shadow(3px, 10px, 10px, rgba(0, 0, 0, 0.5));
  background: url('#{$path}/stock-bottom-line.png') top center repeat-x;
}

.detail__tabs {
  margin-left: 30px;
}