.detail__title h1{
  color: $color-yell;
  font-family: $font-os-condenced-bold;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 2em;
}

.detail__price {
  font-size: 1.2em;
  color: $color-yell;
}

.detail__price--big {
  font-size: 1.5em;
  font-family: $font-os-condenced-bold;
  color: $color-green;
}

.detail-image-wrap-global {
  @include box-shadow(3px, 10px, 10px, rgba(0, 0, 0, 0.5));
  background: url('#{$path}/stock-bottom-line.png') top center repeat-x;
}

.detail-info.v-card.v-sheet {
  //background: url('#{$path}/detail-background-card.jpg') top left repeat;
  background-color: rgba(0, 0, 0, 0.2);
}
