.tabs__characteristics {
  display: inline-block;
  margin-left: 30px;
}

.detail-characteristics .v-window {
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 250px;
}

@supports (display: grid) {  /* если браузер поддерживает Гриды */
  @media (min-width: 14em) {  /* если окно браузера больше 14em */
    dl.tabs__characteristics-attributes {
      display: grid;
      grid-template-columns: auto 1fr;  /* auto определяет ширину первой колонки, которая равна самому широкому элементу <dt> (auto можно заменить на fit-content(10em), если необходимо её ограничить) */
    }
    .tabs__characteristics-attributes dt {
      min-width: 0;  /* более привычное поведение при переполнении */
    }
    .tabs__characteristics-attributes dd {
      margin: 0 0 0 1em;
      font-weight: bold;
    }
  }
}

.detail-characteristics__content {
  font-size: 1.2em;
  padding: 10px 5px;
  color: #253c25;
}