footer {
  background: url('#{$path}/footer-top-lay.png') top left repeat-x, linear-gradient(to left, rgba(78,100,42,1), rgba(78,100,42,0.6)), url('#{$path}/footer-layout.png') bottom center repeat-x;
}

.footer-wrapper {
  color: $color-white;
  margin: 0 auto;
  max-width: $main-width;
  background: url('#{$path}/stock-bottom-line.png') bottom center repeat-x;
}

#footer__menu {
  .footer-list {
    background: none;
    .footer-item {
      background: url('#{$path}/footer-menu-ava.png') left center no-repeat;
      padding-left: 20px;
      height: 38px;
      a {
        color: $color-white;
        font-family: $font-os;
        font-size: 0.8em;
        text-decoration: none;
      }
    }
  }
}

.footer__phone {
  display: block;
  color: $color-white;
  margin-top: 10px;
  font-size: 0.8em;
}

a.footer__mail {
  font-size: 1em;
  font-family: $font-os;
  text-decoration: underline;
  color: $color-yell;
}

.footer__address {
  margin-top: 10px;
  font-size: 0.8em;
}

.footer__address--margbot10 {
  margin-bottom: 10px;
}

.footer-info {
  .footer__phone, .footer__address {
    a {
      color: white;
    }
  }
}

