.menu ul {
  margin: 0;
  height: inherit;
  vertical-align: middle;
}

.menu ul li {
  width: 300px;
  font-family: $font-os-semibold;
  font-size: 0.9em;
  display: inline;
  padding: 20px 20px;
  color: white;
  height: inherit;
  vertical-align: middle;
  line-height: 57px;
  text-transform: uppercase;
  background: url('#{$path}/menu-devider.png') left center no-repeat;
}

.menu ul li.menu__first {
  background: none;
}

.menu ul li:hover{
  height: inherit;
}

.menu ul li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}


.theme--light.v-list.top-menu, .theme--light .v-list.top-menu {
  background: none;
  color: $color-white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.top-menu__item {
  display: inline-block;
  background: url('#{$path}/menu-devider.png') left center no-repeat;
}

.top-menu__item:first-child {
  background: none;
}

.top-menu__item .v-list__tile {
  height: 57px;
  font-family: $font-os-condenced-bold;
  text-transform: uppercase;
  padding-left: 30px;
  font-size:0.99em;
}