#left-menu {
  position: absolute;
  margin-top: -40px;
  z-index: 100;
  overflow: visible;

  /*-----image-------------*/
  .menu-left-img {
    position: absolute;
    z-index: 100000;
  }

  /*-----header-------------*/
  .left-menu__header {
    font-size: 1.6em;
    font-family: $font-os-condenced-bold;
    text-transform: uppercase;
    color: $color-white !important;
    margin-top: -10px;
    background: url('#{$path}/menu-left-header.png') no-repeat center center, $color-yell;
    text-transform: uppercase;
  }

  .v-icon {
    color: white;
  }

  .menu-left__group {


    .v-list-group__header {
      background: url('#{$path}/menu-left-item-lay.png') repeat-x center center;
      color: $color-white !important;
      font-size: 1.2em;
      font-family: $font-os-condenced-bold;
      text-transform: uppercase;
      width: 262px;
      height: 45px;
    }

    .menu-left__group-item {
      font-size: 0.9em;
      font-family: $font-os-condenced-bold;
      color: $color-green-light !important;
    }

    .menu-left__group-item:hover {
      background-color: $color-green-dark;
      color: $color-white !important;
    }

  }

  .left-menu__content {
    margin-top: 10px;
    margin-left: 0px;
    width: 262px;
    @include border-radius(0 0 10px 10px);

    .v-list {
      background: url('#{$path}/menu-left-wrapper.png') repeat right top;
    }

    .v-list-item {
      padding-left: 20px;
    }
  }

  .menu-left__footer {
    position: relative;
  }

  .menu-left__social-icons {
    position: absolute;
    margin-top: 100px;
    font-size: 0.7em;
  }

  .menu-left__social-icons-header {
    text-transform: uppercase;
    font-size: 2em;
    font-family: $font-os-condenced-bold;
    color: $color-white;
    height: 5px;
    line-height: 5px;
  }

}

/*------------sub-menu-----------------*/
#sub-menu {
  background-color: #F3E7CF;
  padding: 10px;
  border: 3px solid $color-green-light;
  @include border-radius(0px 0px 10px 10px);
  position: relative;


  .sub-menu__list {
    background: none;

    a {
      font-size: 0.8em;
      color: $color-green-dark;
    }
  }

}


.sub-menu__head>li {
  margin-top:10px;
  margin-left: 20px;
  margin-right: 20px;
  display:inline-block;
}

.sub-menu__head li {
  list-style: none;
}

.sub-menu__head a{
  margin-left: 10px;
  margin-top:5px;
  color: $color-green-light;
  text-decoration: underline;
  font-family: $font-os-semibold;
}

.sub-menu__item a{
  font-size: 0.8em;
  color: $color-green-dark;
}

.sub-menu .v-list-item {
  font-family: $font-os;
  font-size: 0.9em;
  height:42px;
}

.sub-menu .v-list-item>a {
  color: $color-green-dark;
}

.sub-menu__header {
  padding-left: 15px;
  color: $color-green;
  font-weight: bold;
}

/*----------end sub menu---------------*/
