.news {
  .news__button {
    @extend .main-button;
  }
}

.news__content {
  color: $color-white;
  font-family: $font-os;
  font-size: 1em;
  margin-top:20px;
  //margin-left: 40px;


  .news__header a {
    color: black;
    font-family: $font-os-condenced-bold;
    font-size: 1.2em;
    text-decoration: none;
    color: $color-green;
  }
}

.news__date {
  font-family: $font-os-condenced-bold;
  font-size: 1.1em;
}

.news__date-d {
  color: $color-green-dark;
}

.news__header {
  background-color: $color-yell;
  display: inline-block;
  padding: 2px 20px;
  color: $color-green-dark;
}

@media (max-width: 1265px) {
  .news__date {
    color: $color-green;
  }
}