$path: '/images';
$font-os-semibold: 'OpenSans-Semibold', sans-serif;
$font-os-light: 'OpenSans-Lisght', sans-serif;
$font-os-condenced-bold: 'OpenSans-CondensedBold', sans-serif;
$font-os: 'Open-Sans', sans-serif;
$main-width: 1200px;
$color-yell: #ffbf00;
$color-yell-light: #F9D94B;
$color-white: #ffff;
$color-green: #346e1d;
$color-green-light: #B16C3D;
$color-green-low-light: #339900;
$color-green-md-dark: #55982d;
$color-ultra-light: #72ab32;
$color-green-dark: #56331d;

// cart
$color-cart-main: $color-green-low-light;
$font-cart-main: $font-os-condenced-bold;
$color-cart-background: $color-white;
$color-cart-text: $color-white;
$color-cart-second: $color-green-dark;
$color-cart-three: $color-green-low-light;

