@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~vuetify/dist/vuetify.css';
@import 'variables';
@import 'mixins';
@import 'font';
@import 'mobile/header';
@import 'mobile/footer';

.abs-position {
  position: absolute;
  z-index: 100;
  margin-top: -3px;
}

.wrapper {
  max-width: $main-width;
  margin: auto;
}

.header {
  text-transform: uppercase;
  font-size: 2em;
  font-family: $font-os-condenced-bold;
  color: $color-white;
  background: url('#{$path}/banner-header.png') left center no-repeat;
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
}

.subheader {
  color: $color-yell;
}

.main-button {
  margin-top: 30px;
  display: inline-block;
  background: none;
  border: 2px solid $color-yell;
  padding: 7px;
  font-size: 18px;
  color: $color-yell !important;
  text-transform: uppercase;
  @include border-radius(6px);
  text-decoration: none;
  font-family: $font-os-condenced-bold;
  margin-right: 15px;
  padding: 5px 10px;
}

.main-button--green {
  @extend .main-button;
  color: $color-green-low-light !important;
  border: 2px solid $color-green-low-light;
}

@media (max-width: 1260px) {
    .header {
      color: $color-green;
    }
}

.sections {
  margin-top: 453px;
}

.application.theme--light.leader {
  font-family: 'PT Sans', sans-serif;
}

.logo {
  height: 198px;
  width: 178px;
  float: right;
}

@import 'header';
@import 'top_menu';
@import 'menu';
@import '~cartScss/cart';
@import '~callbackScss/callback';

.find {
  padding-top: 19px;
}

@import 'slogan';
@import 'phone';

.animal-panel {
  width: 1200px;
  height: 151px;
  margin-top: 253px;
  margin-left: 30px;
  color: black;
  padding-left: 10px;
}

.animal-panel img {
  display: inline-block;
  margin-left: 30px;
}

.full-width {
  width: 100%;
}

.inline {
  display: inline-block;
}

@import 'menu-left';
@import 'content';
@import 'baner';
@import 'product';
@import 'about';
@import 'news';
@import 'delivery';
@import 'stock';
@import 'footer';
@import 'detail';
@import 'detailcharacteristics';
@import '~articleScss/articles';
@import 'breadcrumbs';
@import 'brands';

/*[v-cloak] .v-cloak--block {
  display: block;
  background: url('#{$path}/cat-preloader.gif') center center no-repeat, rgba(225, 255, 255, 1);
  width: 100%;
  height: 1200px;
}*/

[v-cloak] .v-cloak--block {
  display: flex;
  background: url('#{$path}/cat-preloader.gif') center center no-repeat, rgba(225, 255, 255, 1);
  width: 100%;
  position: absolute;
  z-index: 999;
  height: 100%!important;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

[v-cloak] .v-cloak--hidden {
  display: none;
}

.v-cloak--block {
  display: none;
}

.figure-button {
  display: inline-block;
  padding: 5px 20px;
  background-color: $color-green;
  color: $color-white;
  font-family: $font-os-condenced-bold;
  text-decoration: none;
  height: 31px;
  text-align: center;
  vertical-align: middle;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 0%);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  text-transform: uppercase;
}

.borderSel {
  //border: 4px solid yellow;
  filter: drop-shadow(5px 5px 10px yellow);
}

.header-title {
  color: $color-yell;
}