@import 'variables';

.callbackwindow {
  position: fixed;
  background-color: $color-callback-background;
  width: 320px;
  right: 0;
  height: 100%;
  transition: all 1s;
  bottom: 0px;
  z-index: 100000;
}

#btn-cllback {
  position: absolute;
  right: 102%;
  top: 5px;
  width: 22px;
  height: 22px;
  background: rgba(0, 0, 0, 0) url(/images/close.png) no-repeat scroll 0 0;
  cursor: pointer;
  z-index: 2147483647;
}

.callbackhidden {
  right: -320px;
}

#popup__toggle {
  bottom: 25px;
  right: 10px;
  position: fixed;
  z-index: 999;
}

.callback-form {
  margin: 0 auto;
  padding: 0px 10px;
  width: 300px;
}

.callback-header {
  font-family: $font-callback-first;
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.callback-subheader {
  color: $color-callback-second;
}

#callback {
  .callback-btn {
    background-color: $color-callback-second;
  }

  .error--text {
    color: $color-callback-first !important;
  }
}

