.application.theme--light.leader {
  font-family: 'PT Sans', sans-serif;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("/fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: local("OpenSans-Semibold"), url("/fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("/fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"), url("/fonts/OpenSans-Semibold/OpenSans-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Lisght';
  src: url("/fonts/OpenSans-Light/OpenSans-Light.eot");
  src: local("OpenSans-Lisght"), url("/fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"), url("/fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"), url("/fonts/OpenSans-Light/OpenSans-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-CondensedBold';
  src: url("/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.eot");
  src: local("OpenSans-CondensedBold"), url("/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.woff") format("woff"), url("/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.ttf") format("truetype"), url("/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("/fonts/OpenSans/OpenSans.eot");
  src: local("Open-Sans"), url("/fonts/OpenSans/OpenSans.woff") format("woff"), url("/fonts/OpenSans/OpenSans.ttf") format("truetype"), url("/fonts/OpenSans/OpenSans.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.logo {
  height: 198px;
  width: 178px;
  float: right;
}

.header {
  height: 707px;
}

.chickens {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/chickens-layout.png") top center no-repeat;
}

.cows {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/cows-layout.png") top center no-repeat;
}

.pigs {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/pigs-layout.png") top center no-repeat;
}

.rams {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/rams-layout.png") top center no-repeat;
}

.main-layout {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/header-layer.png") top center no-repeat;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.header--wrapper {
  width: 1200px;
  margin: auto;
}

.header-menu {
  height: 57px;
  background: rgba(121, 154, 50, 0.8);
  width: 100%;
}

.header-menu__link {
  text-decoration: none;
  color: white;
}

.menu ul {
  margin: 0;
  height: inherit;
  vertical-align: middle;
}

.menu ul li {
  width: 300px;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 0.9em;
  display: inline;
  padding: 20px 20px;
  color: white;
  height: inherit;
  vertical-align: middle;
  line-height: 57px;
  text-transform: uppercase;
  background: url("/images/menu-devider.png") left center no-repeat;
}

.menu ul li.menu__first {
  background: none;
}

.menu ul li:hover {
  height: inherit;
}

.menu ul li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

.theme--light.v-list.top-menu,
.theme--light .v-list.top-menu {
  background: none;
  color: #ffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.top-menu__item {
  display: inline-block;
  background: url("/images/menu-devider.png") left center no-repeat;
}

.top-menu__item:first-child {
  background: none;
}

.top-menu__item .v-list__tile {
  height: 57px;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  padding-left: 30px;
  font-size: 0.99em;
}

.content-cart {
  background: url("/images/tree-layer.png") top center repeat;
}

.cart {
  display: block;
  padding: 40px;
}

.cart h2 {
  text-align: center;
  color: #339900;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.cart__content--wrapper {
  -webkit-filter: drop-shadow(5px 5px 10px #56331d);
          filter: drop-shadow(5px 5px 10px #56331d);
}

.cart__content {
  width: 964px;
  margin: auto;
  background-color: #ffff;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.cart-table {
  width: 100%;
  border: 0px solid #339900;
  border-collapse: collapse;
  text-align: left;
}

.cart-table th {
  background-color: #339900;
  color: #ffff;
  height: 30px;
}

.cart-table tr th {
  text-align: center;
}

.cart-table tr td {
  height: 100px;
  border-bottom: 1px solid #339900;
  color: #56331d;
  font-size: 0.9em;
  padding: 10px;
}

.cart-table-title {
  font-size: 1.4em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-decoration: none;
  color: #339900;
}

.cart-table-counter {
  width: 70px;
}

.cart-table-price {
  font-size: 1.5em;
  color: #339900;
  font-family: "OpenSans-CondensedBold", sans-serif;
}

.cart-table-td-price {
  width: 130px;
  text-align: center;
}

.cart-table-rub {
  font-size: 1.2em;
  font-family: "OpenSans-CondensedBold", sans-serif;
}

.cart-table-del {
  margin: auto;
  text-align: center;
}

.cart-table-del a {
  text-decoration: none;
  display: inline-block;
  -mox-border-radius: 10px;
  border-radius: 10px;
  background-color: #56331d;
  color: #ffff;
  width: 20px;
  height: 20px;
  margin: auto;
  text-align: center;
}

.cart-table-del a img {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  line-height: 30px;
}

.cart-table__total td {
  height: 50px !important;
  background-color: #B16C3D;
}

.cart-table__total td span {
  color: #ffff;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.6em;
}

.cart-table__total td span span {
  color: #ffbf00;
  font-size: 0.9em;
}

.cart-order {
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.cart-order a {
  margin: 20px;
  vertical-align: middle;
  text-align: center;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0px 10px;
  background-color: #ffbf00;
  width: 138px;
  height: 34px;
  text-decoration: none;
  display: inline-block;
  -mox-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-size: 0.9em;
}

.cart-img {
  display: inherit;
  margin: auto;
}

.detail-counter {
  background-color: white;
  -mox-border-radius: 15px;
  border-radius: 15px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  border: 1px solid lightgrey;
}

.detail-counter__left {
  display: block;
  width: 22%;
  height: inherit;
  line-height: inherit;
  border-right: 1px solid lightgrey;
  float: left;
}

.detail-counter__center {
  display: block;
  width: 50%;
  height: inherit;
  float: left;
  line-height: inherit;
  vertical-align: middle;
}

.detail-counter__right {
  display: block;
  width: 22%;
  height: inherit;
  line-height: inherit;
  float: right;
  border-left: 1px solid lightgrey;
}

#baskets .cart-col {
  margin-left: 0px;
}

#baskets .div-plus,
#baskets .div-minus {
  right: 6px;
}

#baskets table thead {
  border-radius: 12px;
}

#baskets table thead,
form div.content-right-order table thead {
  background-color: #339900;
  color: #ffff;
}

#baskets table thead tr {
  line-height: 45px;
  height: 45px;
  padding: 0;
}

#baskets table tbody tr {
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}

#baskets table tbody tr td {
  position: relative;
  text-align: center;
  border: 0px;
}

#baskets table tbody tr td:nth-child(2) {
  text-align: left;
}

#baskets table tbody tr td:nth-child(2) span,
form div.content-right-order table tbody tr td:nth-child(2) span {
  color: #aaa;
  font-size: 9pt;
}

#baskets table tbody tr td:nth-child(6) img {
  cursor: hand;
  cursor: pointer;
}

#baskets table tfoot tr,
form div.content-right-order table tfoot tr {
  background-color: #339900;
  line-height: 45px;
  height: 45px;
}

#baskets table tfoot tr td,
form div.content-right-order table tfoot tr td {
  font-weight: bold;
  font-size: 13pt;
  color: white;
}

.callback_close {
  background: rgba(0, 0, 0, 0) url("/images/close.png") no-repeat scroll 0 0;
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: -34px;
  top: 5px;
  width: 22px;
  z-index: 2147483647;
}

.cart-submit {
  background-color: #339900;
  border: 2px solid #339900;
  border-radius: 2px;
  color: #ffff;
  font-weight: 600;
  height: 35px;
  width: 125px;
}

.cart-header {
  background-color: #339900;
  color: black;
}

.cart-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cart-widget {
  width: 156px;
  height: 55px;
  background: #306b1c;
  font-size: 1.2em;
}

.cart-widget table {
  font-family: "OpenSans-Lisght", sans-serif;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
  font-size: 0.8em;
}

.cart__col-yell {
  color: #F3C042;
}

.cart__img {
  padding-right: 10px;
}

.find {
  padding-top: 19px;
}

.main-slogan {
  height: 121px;
  margin-top: 60px;
  color: white;
  background: url("/images/slogan-ln.png") left center repeat-y;
  line-height: 40px;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 3.2em;
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
  text-shadow: 1px 1px 1px black, 0 0 1em black;
}

.sub-slogan {
  font-size: 0.8em;
}

.main-slogan__from {
  font-size: 0.25em;
  padding: 3px 8px;
  margin-left: 5px;
  background: #2A6319;
}

.phone {
  width: 400px;
  height: 151px;
  margin-top: 20px;
  color: white;
}

.phone__sun {
  width: 300px;
  padding: 3px 8px;
  background: #339900;
}

.phone__number {
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 2.2em;
  text-shadow: 1px 1px 1px black, 0 0 1em black;
  text-transform: uppercase;
}

.phone__callback {
  font-size: 0.9em;
  display: inline-block;
  background: none;
  border: 2px solid #ffbf00;
  -mox-border-radius: 6px;
  border-radius: 6px;
  padding: 7px;
  font-weight: bold;
  color: #ffbf00;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "OpenSans-CondensedBold", sans-serif;
  background: url("/images/phone-img.png") left 4px center no-repeat;
  padding-left: 30px;
}

.footer__address {
  color: #ffff;
  font-size: 1.2em;
}

.animal-panel {
  width: 1200px;
  height: 151px;
  margin-top: 253px;
  margin-left: 30px;
  color: black;
  padding-left: 10px;
}

.animal-panel img {
  display: inline-block;
  margin-left: 30px;
}

.full-width {
  width: 100%;
}

.inline {
  display: inline-block;
}

.menu-left-img {
  position: absolute;
  z-index: 100;
  margin-top: -70px;
}

.menu-left-wrappers.theme--light.v-sheet {
  position: absolute;
  margin-left: 0px;
  width: 262px;
  z-index: 100;
  margin-top: -60px;
  overflow: visible;
  -mox-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.menu-left-wrappers .v-list {
  padding-top: 0px;
}

.theme--light .menu-left-wrappers .v-list {
  background: url("/images/menu-left-wrapper.png") repeat right top;
}

.menu-left-wrappers .v-list__group__items--no-action .v-list__tile {
  padding-left: 20px;
}

.menu-left-wrappers .v-list__group__items .v-list__tile:hover {
  background-color: #56331d;
}

.menu-left-wrappers .v-list__group__items .v-list__tile:hover .v-list__tile__title {
  color: #ffff;
}

.menu-left-item-el {
  font-size: 0.9em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  color: #B16C3D;
}

.menu-left-wrapper {
  position: absolute;
  margin-left: 0px;
  width: 262px;
  z-index: 1000;
  overflow: visible;
}

.menu-left {
  margin: -5px;
  background: url("/images/menu-left-wrapper.png") repeat right top;
  -mox-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.menu-left__hr-img {
  margin-left: -7px;
}

.menu-left__header {
  font-size: 1.6em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  color: #ffff;
  background: url("/images/menu-left-header.png") no-repeat center center, #ffbf00;
  text-transform: uppercase;
}

.menu-left-wrappers .v-list__group__header {
  background: url("/images/menu-left-item-lay.png") repeat-x center center;
  color: #ffff;
  font-size: 1.2em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  width: 262px;
}

.theme--light .menu-left-wrappers .v-list .v-list__group__header:hover {
  background: url("/images/menu-left-item-lay.png") repeat-x center center;
}

.list-menu-left {
  padding-top: 0px;
  -mox-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

.menu-left-h {
  width: 262px;
}

.sub-menu {
  background: url("/images/menu-left-wrapper.png") repeat right top;
  padding: 10px;
  border: 3px solid #B16C3D;
  -mox-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  position: relative;
}

.sub-menu__head > li {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

.sub-menu__head li {
  list-style: none;
}

.sub-menu__head a {
  margin-left: 10px;
  margin-top: 5px;
  color: #B16C3D;
  text-decoration: underline;
  font-family: "OpenSans-Semibold", sans-serif;
}

.sub-menu__item a {
  font-size: 0.8em;
  color: #56331d;
}

.application .theme--light.footer__menu.v-list,
.theme--light .sub-menu .v-list {
  background: none;
}

.sub-menu .v-list__tile {
  font-family: "Open-Sans", sans-serif;
  font-size: 0.9em;
  height: 42px;
}

.sub-menu .v-list__tile > a {
  color: #56331d;
}

.sub-menu__header {
  padding-left: 15px;
  color: #346e1d;
}

/*.theme--light.v-list .v-list__group--active:after,
.application .theme--light.list .v-list__group--active:before,
.application .theme--light.v-list .v-list__group__header:hover,
.theme--light.v-list .v-list__tile--highlighted,
.theme--light.v-list .v-list__tile--link:hover,
.theme--light .v-list .v-list__group--active:after,
.theme--light .v-list .v-list__group--active:before,
.theme--light .v-list .v-list__group__header:hover,
.theme--light .v-list .v-list__tile--highlighted,
.theme--light .v-list .v-list__tile--link:hover {
  background: rgba(0,0,0,0)
}*/

.menu-left__link {
  text-decoration: none;
  color: #B16C3D;
}

.theme--light .left-menu .v-icon {
  color: #ffff;
}

.menu-left__footer {
  position: relative;
}

.menu-left__social-icons {
  position: absolute;
  margin-top: 100px;
  font-size: 0.7em;
}

.menu-left__social-icons-header {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  color: #ffff;
  height: 5px;
  line-height: 5px;
}

.sub-menu__list-tile {
  width: 200px;
}

.content-wrapper-top {
  background: url("/images/tree-layer-top.png") top center repeat;
  height: 29px;
}

.content-wrapper {
  min-height: 950px;
  width: 100%;
  background: url("/images/tree-layer.png") top center repeat;
  padding-bottom: 20px;
}

.content {
  margin: auto;
  font-size: 0.9em;
  width: 1200px;
}

.content h1 {
  color: white;
}

.content__header,
.about__header,
.article__header {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  color: #ffff;
  background: url("/images/banner-header.png") left center no-repeat;
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
  margin-left: 50px;
}

.content__subheader {
  color: #ffbf00;
}

.content__buttom,
.stock__btn,
.article--button {
  margin-top: 30px;
  display: inline-block;
  background: none;
  border: 2px solid #ffbf00;
  padding: 7px;
  font-size: 1.3em;
  color: #ffbf00;
  text-transform: uppercase;
  -mox-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "OpenSans-CondensedBold", sans-serif;
  margin-right: 15px;
  padding: 5px 10px;
}

.content__banner {
  margin: 0px 20px;
}

.content--leftmargin310 {
  margin-left: 310px;
}

.left-50 {
  margin-left: 50px;
}

.content-discription {
  color: white;
  font-size: 1.2em;
}

.content__info {
  margin-top: -25px;
}

.special-product-wrapper,
.product-wrapper {
  -webkit-filter: drop-shadow(3px 3px 5px gray);
          filter: drop-shadow(3px 3px 5px gray);
  margin-bottom: 30px;
  margin-left: 10px;
}

.special-product,
.product {
  top: 1px;
  left: 1px;
  width: 263px;
  height: 390px;
  -mox-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  display: block;
  background: url("/images/special-product__item-head-lay.png") top center no-repeat;
  background-color: #ffff;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 55% 100%, 50% 97%, 45% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 55% 100%, 50% 97%, 45% 100%, 0% 100%);
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}

.product {
  display: inline-block;
  margin: 10px;
}

.special-product__header {
  height: 82px;
  line-height: 82px;
}

.special-product__header > a {
  color: #346e1d;
  font-size: 1.1em;
  font-family: "OpenSans-Semibold", sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25;
  text-decoration: none;
  padding: 0 30px;
}

.special-product__img {
  margin-top: 10px;
  padding: 5px 10px;
  height: 180px;
  line-height: 180px;
}

.special-product__img > img {
  vertical-align: middle;
}

.special-product__desc {
  font-size: 1.1em;
  font-family: sans-serif, "Open-Sans", sans-serif;
  border-bottom: 1px dashed #346e1d;
  padding-bottom: 20px;
}

.special-product__price {
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 0.9em;
}

.special-product__price .current-price {
  color: #72ab32;
  font-size: 2.6em;
}

.special-product__price .old-price {
  text-decoration: line-through;
  font-weight: bold;
}

.special-product__cart {
  margin-top: 5px;
}

.special-product__mcart {
  padding-top: 5px;
  background: url("/images/product-cart-layout.png") right top no-repeat;
}

.rub {
  font-size: 1.6em;
}

.product-wrapper {
  display: inline-block;
  position: relative;
}

.product__new-label {
  position: absolute;
  z-index: 100;
  margin-top: 70px;
}

.product__new-label-coal {
  position: absolute;
  z-index: 90;
  margin-top: 115px;
}

.tree {
  background: url("/images/tree-layer.png") top center repeat;
}

.about-wrapper {
  background: url("/images/about-layout.png") top center no-repeat;
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}

.about {
  background-color: rgba(69, 115, 32, 0.8);
}

.about__content {
  margin: auto;
  width: 1200px;
  height: 600px;
  padding-top: 100px;
  color: #ffff;
}

.about__left {
  margin-left: 40px;
  font-size: 1.2em;
}

.about__cit {
  background: url("/images/cit.png") left center no-repeat;
}

.container.grid-list-xs .layout .flex.about__cit {
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-official {
  background-color: #003300;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffff;
}

.about__header {
  background: url("/images/yellow-header.png") left center no-repeat;
}

.low-font {
  font-size: 1.8em;
}

.news__conent {
  color: #ffff;
  font-family: "Open-Sans", sans-serif;
  font-size: 1em;
  margin-top: 20px;
  margin-left: 40px;
}

.news__date {
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.1em;
}

.news__date-d {
  color: #56331d;
}

.news__header {
  background-color: #ffbf00;
  display: inline-block;
  padding: 2px 20px;
  color: #56331d;
}

.news__header a {
  color: black;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.2em;
}

.news__button {
  margin-left: 40px;
}

.delivery-wrapper {
  width: 100%;
  background: url("/images/light-tree.png") center center repeat;
  padding-bottom: 30px;
}

.delivery {
  margin: auto;
  width: 1200px;
}

.delivery__header {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  color: #56331d;
  background: url("/images/yellow-header.png") left center no-repeat;
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
}

p.delivery__header {
  margin-bottom: 0px;
}

.delivery__header--margin {
  margin-left: 50px;
}

.delivery__subheader {
  color: #55982d;
}

.delivery__button {
  margin-right: 70px;
  margin-top: 30px;
  display: inline-block;
  background: none;
  border: 2px solid #bcc29b;
  padding: 7px;
  font-size: 1.2em;
  color: #56331d;
  text-transform: uppercase;
  -mox-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "OpenSans-CondensedBold", sans-serif;
  padding: 5px 10px;
}

.delivery__desc {
  line-height: 1.2;
  font-size: 1.3em;
}

.container.grid-list-xs .layout .flex .delivery__desc {
  padding: 4px;
}

.delivery__tel {
  color: #56331d;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.1em;
}

.deliverty_tabl {
  font-size: 1.3em;
}

.stock-wrapper {
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
          filter: drop-shadow(5px 5px 10px #ffff);
  margin-bottom: 30px;
}

.stock {
  top: 1px;
  left: 1px;
  width: 259px;
  background: url("/images/stock-bottom-line.png") bottom center repeat-x, url("/images/stock-botom-layer.png") bottom center repeat-x, url("/images/stocks.png") center center no-repeat;
  -mox-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-clip-path: polygon(0% 0%, 45% 0%, 50% 5%, 55% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 45% 0%, 50% 5%, 55% 0%, 100% 0%, 100% 100%, 0% 100%);
  min-height: 265px;
  position: relative;
  margin: auto;
}

.stock__content {
  height: 270px;
}

.stock__pr {
  color: #ffbf00;
  font-size: 2.5em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  line-height: 1.2;
}

.stock__pr span {
  font-size: 0.4em;
  text-transform: uppercase;
  background-color: #ffbf00;
  color: #56331d;
  padding: 0px 5px;
}

.container.grid-list-xs .layout .flex .stock__desc {
  margin-top: 13px;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.8em;
  color: #ffff;
  text-transform: uppercase;
  line-height: 1.4;
}

.stock__price {
  color: #ffbf00;
  font-size: 1.6em;
  font: "OpenSans-CondensedBold", sans-serif;
}

.stock__sub-price {
  color: #ffff;
  font-size: 0.8em;
}

.stock__btn {
  font-size: 0.5em;
}

.stock__rocwell-banner {
  margin: auto;
  padding: 10px 20px 0px 20px;
  font-size: 1.1em;
}

.stock__rocwell-banner--footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding: 10px 20px 0px 20px;
  font-size: 1.4em;
  font-family: "OpenSans-CondensedBold", sans-serif;
}

.stock__btn {
  margin-top: 0px;
  font-size: 0.8em;
  display: inline-block;
}

.theme--light.footer,
.theme--light .footer {
  background: url("/images/footer-top-lay.png") top left repeat-x, -webkit-gradient(linear, right top, left top, from(#4e642a), to(rgba(78, 100, 42, 0.6))), url("/images/footer-layout.png") bottom center repeat-x;
  background: url("/images/footer-top-lay.png") top left repeat-x, linear-gradient(to left, #4e642a, rgba(78, 100, 42, 0.6)), url("/images/footer-layout.png") bottom center repeat-x;
}

.footer-wrapper {
  margin: 0 auto;
  width: 1200px;
  background: url("/images/stock-bottom-line.png") bottom center repeat-x;
}

.theme--light.v-list.footer-top-menu,
.v-list.footer-top-menu {
  height: 57px;
  background: none;
}

.footer-top-menu__item {
  display: inline-block;
  background: url("/images/menu-devider.png") left center no-repeat;
}

.footer-top-menu__item:first-child {
  background: none;
}

.footer-top-menu .v-list__tile {
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  list-style-type: disc;
  padding: 0px 30px 0px 40px;
  color: #ffff;
}

ul.footer-top-menu:first-child {
  background: none;
}

.footer__sicial-icons {
  padding-top: 15px;
}

.footer__chicken {
  margin-top: -20px;
}

.footer__phone {
  display: block;
  color: #ffff;
  margin-top: 10px;
}

.footer__mail {
  font-size: 1em;
  font-family: "Open-Sans", sans-serif;
  text-decoration: underline;
  color: #ffbf00;
}

.footer__address {
  margin-top: 10px;
  font-size: 1em;
}

.footer__address--margbot10 {
  margin-bottom: 10px;
}

.theme--light.footer__menu.v-list,
.theme--light .footer__menu .v-list {
  background: none;
  width: 200px;
}

.footer__menu .list__tile {
  background: url("/images/footer-menu-ava.png") left center no-repeat;
  padding-left: 20px;
  height: 38px;
}

.footer__menu .v-list__tile a {
  color: #ffff;
  font-family: "Open-Sans", sans-serif;
  font-size: 0.9em;
  text-decoration: none;
}

.footer-menu-ava {
  margin-right: 10px;
}

.footer__copyright {
  font-size: 0.8em;
  margin-right: 30px;
}

.footer-right {
  margin-right: 30px;
}

.footer__address--margin30 {
  margin-left: 30px;
}

.footer__content {
  margin-top: 20px;
}

.detail__title h1 {
  color: #56331d;
  font-family: "OpenSans-CondensedBold", sans-serif;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 2em;
}

.detail__price {
  font-size: 1.2em;
  color: #ffbf00;
}

.detail__price--big {
  font-size: 1.5em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  color: #346e1d;
}

.detail-image-wrap-global {
  -webkit-box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.5);
  background: url("/images/stock-bottom-line.png") top center repeat-x;
}

.detail-info.v-card.v-sheet {
  background: url("/images/detail-background-card.jpg") top left repeat;
}

.detail-characteristics__left-table {
  float: left;
}

.detail-characteristics__right-table {
  float: right;
}

.detail-characteristics__table {
  color: white;
  width: 380px;
  border: none;
  border-collapse: collapse;
}

.detail-characteristics__table tr {
  line-height: 20px;
}

.detail-characteristics__table thead th {
  text-align: left;
}

.detail-characteristics__table tbody tr:nth-child(2n+1) {
  background: rgba(255, 255, 255, 0.1);
}

.detail-characteristics__table tbody tr td {
  padding: 5px 10px;
  font-family: "OpenSans-Lisght", sans-serif;
  font-size: 0.9em;
}

.detail-characteristics__table thead tr th {
  padding: 5px 10px;
  font-family: "OpenSans-Lisght", sans-serif;
  font-size: 0.9em;
}

.detail-characteristics-marg {
  margin-left: 70px;
}

.detail-characteristics-marg p {
  display: block;
  margin-right: 20px;
  line-height: 20px;
}

.detail-characteristics .card__text {
  background-color: red;
}

.detail-characteristics .v-window {
  background-color: #ffffff;
  min-height: 250px;
}

.application .theme--light.card,
.theme--light .article--card {
  min-height: 200px;
  padding: 40px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 99% 50%, 100% 55%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 99% 50%, 100% 55%, 100% 100%, 0% 100%);
  -mox-border-radius: 0px 13px 13px 0px;
  border-radius: 0px 13px 13px 0px;
  background: url("/images/article-block-line.png") left top repeat-y, white;
}

.articles__content {
  font-size: 1.1em;
  border-bottom: 1px dashed #B16C3D;
  width: 100%;
}

.articles__content a {
  text-decoration: none;
  font-size: 1.1em;
  color: #346e1d;
}

.article--button {
  color: #346e1d;
  border-color: #c8dac6;
}

.article__content {
  color: black;
  padding: 0px 60px;
  -mox-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  text-align: justify;
}

.article__header {
  color: #56331d;
}

.abs-breadcrumbs {
  position: absolute;
  margin-top: 38px;
  margin-left: 310px;
  z-index: 100;
}

.breadcrumb {
  list-style: none;
}

.breadcrumb li {
  background: url("/images/bradcrumb-arrow.png") left center no-repeat;
  display: inline;
  padding-left: 20px;
  padding-right: 10px;
}

.breadcrumbs .wrapper li:nth-child(2n) {
  padding-left: 20px;
}

.breadcrumb li:first-child {
  background: none;
  padding-left: 0px;
}

.breadcrumb li.active {
  color: #ffff;
}

.breadcrumb li a {
  color: #ffff;
}

.brands {
  width: 555px;
  height: 160px;
  background: url("/images/product-cart-layout.png") top center no-repeat, url("/images/stock-bottom-line.png") bottom center repeat-x, rgba(255, 255, 255, 0.9);
  -mox-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.brands__content {
  display: inline-block;
  line-height: 160px;
}

.brands img {
  vertical-align: middle;
  line-height: 160px;
}

[v-cloak] .v-cloak--block {
  display: block;
  background: url("/images/cat-preloader.gif") center center no-repeat, #e19a2e;
  width: 100%;
  height: 1200px;
}

[v-cloak] .v-cloak--hidden {
  display: none;
}

.v-cloak--block {
  display: none;
}

.abs-position {
  position: absolute;
  z-index: 100;
  margin-top: -3px;
}

.figure-button {
  display: inline-block;
  padding: 5px 20px;
  background-color: #346e1d;
  color: #ffff;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-decoration: none;
  height: 31px;
  text-align: center;
  vertical-align: middle;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 0%);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  text-transform: uppercase;
}

