.content-cart {
  background: url('#{$path}/tree-layer.png') top center repeat;
}


// start modal window
.cart {
  display: block;
  padding: 40px;
}
.cart h2 {
  text-align: center;
  color: $color-cart-main;
  font-family: $font-cart-main;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.cart__content--wrapper {
  filter: drop-shadow(5px 5px 10px $color-cart-second);
}
.cart__content {
  width: 964px;
  margin: auto;
  background-color: $color-cart-background;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}
// end modal window


// start cart main
.cart-table {
  width: 100%;
  border: 0px solid $color-cart-main;
  border-collapse: collapse;
  text-align: left;
}
.cart-table th {
  background-color: $color-cart-main;
  color: $color-cart-text;
  height: 30px;
}

.cart-table tr th {
  text-align: center;
}

.cart-table tr td {
  height: 100px;
  border-bottom: 1px solid $color-cart-three;
  color: $color-cart-second;
  font-size: 0.9em;
  padding: 10px;
}

.cart-table-title {
  font-size: 1.4em;
  font-family: $font-cart-main;
  text-decoration: none;
  color: $color-cart-main;
}

.cart-table-counter {
  width: 70px;
}

.cart-table-price {
  font-size: 1.5em;
  color: $color-cart-main;
  font-family: $font-cart-main;
}

.cart-table-td-price {
  width: 130px;
  text-align: center;
}

.cart-table-rub {
  font-size: 1.2em;
  font-family: $font-os-condenced-bold;
}
.cart-table-del {
  margin: auto;
  text-align: center;
}
.cart-table-del a{
  text-decoration: none;
  display: inline-block;
  @include border-radius(10px);
  background-color: $color-green-dark;
  color: $color-white;
  width: 20px;
  height: 20px;
  margin: auto;
  text-align: center;
}

.cart-table-del a img {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  line-height: 30px;
}



.cart-table__total td {
  height: 50px !important;
  background-color: $color-green-light;
}

.cart-table__total td span {
  color: $color-white;
  font-family: $font-os-condenced-bold;
  font-size: 1.6em;
}

.cart-table__total td span span {
  color: $color-yell;
  font-size: 0.9em;
}

.cart-order {
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.cart-order a {
  margin: 20px;
  vertical-align: middle;
  text-align: center;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0px 10px;
  background-color: $color-yell;
  width: 138px;
  height: 34px;
  text-decoration: none;
  display: inline-block;
  -mox-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-size: 0.9em;
}

.cart-img {
  display: inherit;
  margin: auto;
}


.detail-counter {
  background-color: white;
  -mox-border-radius: 15px;
  border-radius: 15px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  border: 1px solid lightgrey;
}

.detail-counter__left {
  display: block;
  width: 22%;
  height: inherit;
  line-height: inherit;
  border-right: 1px solid lightgrey;
  float: left;
}

.detail-counter__center {
  display: block;
  width: 50%;
  height: inherit;
  float: left;
  line-height: inherit;
  vertical-align: middle;
}

.detail-counter__right {
  display: block;
  width: 22%;
  height: inherit;
  line-height: inherit;
  float: right;
  border-left: 1px solid lightgrey;
}
// end cart main


// возможны дубли
#baskets .cart-col
{
  margin-left: 0px;
}

#baskets .div-plus,#baskets .div-minus
{
  right:6px;
}

#baskets table thead
{
  border-radius: 12px;
}

#baskets table thead,form div.content-right-order table thead
{
  background-color: $color-cart-main;
  color:$color-cart-text;
}


#baskets table thead tr
{
  line-height: 45px;
  height:45px;
  padding: 0;
}

#baskets table tbody tr
{
  border-bottom:1px solid #eee;
  vertical-align:middle;
}

#baskets table tbody tr td
{
  position: relative;
  text-align: center;
  border: 0px;
}

#baskets table tbody tr td:nth-child(2)
{
  text-align: left;
}

#baskets table tbody tr td:nth-child(2) span,form div.content-right-order table tbody tr td:nth-child(2) span
{
  color:#aaa;
  font-size:9pt;
}
#baskets table tbody tr td:nth-child(6) img
{
  cursor:hand;
  cursor:pointer;
}

#baskets table tfoot tr,form div.content-right-order table tfoot tr {
  background-color:$color-cart-main;
  line-height:45px;
  height:45px;
}


#baskets table tfoot tr td,form div.content-right-order table tfoot tr td {
  font-weight: bold;
  font-size:13pt;
  color:white;
}

.callback_close {
  background: rgba(0, 0, 0, 0) url('/images/close.png') no-repeat scroll 0 0;
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: -34px;
  top: 5px;
  width: 22px;
  z-index: 2147483647;
}


.cart-submit{
  background-color: $color-cart-main;
  border: 2px solid $color-cart-main;
  border-radius: 2px;
  color: $color-cart-text;
  font-weight: 600;
  height: 35px;
  width: 125px;
}
.cart-header {
  background-color: $color-cart-main;
  color: black;
}
.cart-table {
  border-collapse: collapse;
  border-spacing: 0;
}


// start widget style
.cart-widget {
  width: 156px;
  height: 55px;
  background: rgba(48,107,28,1);
  font-size: 1.2em;
}
.cart-widget table {
  font-family: $font-os-light;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
  font-size: 0.8em;
}
.cart__col-yell {
  color: #F3C042;
}
.cart__img {
  padding-right: 10px;
}
// end widget style